<h1>Jobs</h1>

<% @jobs.each do |job|%>
    <ul>
        <li><p><%= job.reference_number.to_s%></p></li>
        <li><p><%= job.complete%></p></li>
        <li><p><%= job.summary%></p></li>
        <li><p><%= job.description%></p></li>
        <li><a href="/jobs/<%= @job.id%>">Go To Job</a></li>
    </ul>
    <br>
    <br>
<% end%>