<h1>Job</h1>

    <p>Reference Number: <%= @job.reference_number.to_s%></p>
    <p>User: <%= @job.user.username%></p>
    <p>Description: <%= @job.description%></p>
    <p>Summary: <%= @job.summary%></p>

    <br>
    <br>

    <h4>Current Toolbox</h4>
    <ul>    
        <% @job.tools.each do |tool|%>
            <% if tool.currentjob == @job.id %>        
                <li><p><%= tool.tool_description%></p></li>
            <% end%>
        <% end%>
    </ul>

    <br>
    <br>
    <a href="/jobs/<%= @job.id%>/edit">Edit Job</a><br>
    <a href="/tools/job/<%= @job.id%>">Select Tools for Job</a><br>
    <a href="/tools/job/<%= @job.id%>/edit">Return Tools</a><br>
    <a href="/jobs">Back to Jobs</a><br>


    <br>
    <br>
    <br>

    <form method="POST" action="/jobs/<%= @job.id%>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete This Job">
    </form>